@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in;
}
ul,
ol,
li {
  list-style: none;
}
h1 {
  margin: 0px;
  font-size: inherit;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #3b3f45;
}
body {
  font-family: "Roboto";
}
.header {
  padding: 19px 20px 12px 20px;
  min-height: 82px;
  background-color: #4a4f56;
  text-align: center;
}
.header__heading {
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  color: #ff8984;
}
.header__text {
  font-size: 16px;
  line-height: 1.17;
  color: #ff8984;
}
.shopping-list__form {
  width: 534px;
  margin: 20px auto;
}
.shopping-list__form ul {
  margin-bottom: 45px;
}
.shopping-list__item {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
}
.shopping-list__button {
  height: 45px;
  width: 100%;
  color: #ff8984;
  background-color: #4a4f56;
  border: none;
}
.shopping-list__button:hover {
  background-color: #ff8984;
  color: #4a4f56;
}
.shopping-list__label {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.17;
}
.shopping-list__label span {
  font-size: 11px;
  line-height: 1.17;
  margin-left: 3px;
}
.shopping-list__label span::before {
  content: "(";
}
.shopping-list__label span::after {
  content: ")";
}
.shopping-list__item:nth-child(odd) {
  background-color: #88839e;
}
.shopping-list__item:nth-child(even) {
  background-color: #7a7593;
}
.shopping-list input {
  vertical-align: baseline;
}
.shopping-list input:checked + .shopping-list__label {
  text-decoration: line-through;
  color: #9b96ac;
}
.shopping-list__item:hover {
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  background-color: #625e77;
}
.shopping-list__item:active {
  background-color: #ff8984;
}
/*приховую оригінальний чекбокс*/
[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
[type="checkbox"] + label {
  display: inline-flex;
  align-items: center;
}
/*створюю підробний чекбокс*/
[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: #ffffff;
  margin: 12px 16px 14px 12px;
}
[type="checkbox"]:checked + label::before {
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
